.container {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
}

.comparison-container {
  display: flex;
  background-color: aquamarine;
  width: 100%;
  justify-content: center;
}

.middle-section-container {
  background-color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 4;
  margin: 0 2rem;
}

.movie {
  background-color: #eee;
  height: 50vh;
  flex: 1;
}

.movie-x {
  background-color: burlywood;
}
.movie-y {
  background-color: thistle;
}

.movie-grid-container {
  background-color: #333;
  margin: 0 auto;
}
.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  grid-auto-rows: 300px;
  list-style: none;
  padding: 0;
}
.list .list-item {
  flex: 1 0 15%;
  box-sizing: border-box;
  background: #eee;
  color: #333;
  padding: 1rem;
  margin: 1rem;
}
