.container {
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
}

.comparison-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 1rem;
}

.middle-section-container {
  background-color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 4;
  margin: 0 2rem;
  text-align: center;
}

.movie {
  background-color: #eee;
  height: 50vh;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.movie-grid-container {
  margin: 0 auto;
}
.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
.list .list-item {
  flex: 1 0 15%;
  box-sizing: border-box;
  background: #eee;
}

.list-item {
  cursor: pointer;
  padding: 1rem;
}

.active {
  border: 2px solid tomato;
}
